.banner {
  background-size: cover;
  background-position: center;
  padding: 60px 0 120px 0;
}

.banner h1 {
  color: white;
  text-shadow:
        0.07em 0 #773108,
        0 0.07em #320d0dde,
        -0.07em 0 black,
        0 -0.07em black;
  }

.banner p {
  color: white;
  font-size: 45px;
  text-shadow:
        0.07em 0 #773108,
        0 0.07em black,
        -0.07em 0 #773108,
        0 -0.07em black;
}
