.btn-primary {
  background-color: #cba2a2d1;
  padding: 10px 10px;
  border-radius: 30px;
  color: black;
  text-align: center;
  font-size: 20px;
  transition: background 1s ease;
}

.btn-primary:hover {
background-color: #f88b9dd6;
}
